[user]
	email = j49137@gmail.com
	name = Joseph Lansdowne
[github]
	user = ikn
[color]
	ui = true
[push]
	default = simple
[merge]
	tool = meld
[core]
	autocrlf = input
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
