*
!/bin/
!/bin/git-hooks/
!/bin/git-hooks/*
!/bin/specific/
!/bin/specific/bspwm-panel
!/bin/specific/cambridge-bins
!/bin/specific/discord-min
!/bin/specific/enc-trim
!/bin/specific/gmrun-smart
!/bin/specific/irc-urxvt-remote
!/bin/specific/lock
!/bin/specific/maintain-fullscreen
!/bin/specific/manage-tv-recordings
!/bin/specific/python-project-doc-build
!/bin/specific/runpanel
!/bin/specific/set-wallpaper
!/bin/specific/tellmewhen-profiles
!/bin/specific/temp
!/bin/specific/thunderbird-min
!/bin/specific/toggle-window
!/bin/specific/vlc
!/mm.cfg
!/.ansible.cfg
!/.config/
!/.config/bspwm/
!/.config/bspwm/*
!/.config/git/
!/.config/git/ignore
!/.config/newsboat/
!/.config/newsboat/config
!/.config/qutebrowser/
!/.config/qutebrowser/config.py
!/.config/sxhkd/
!/.config/sxhkd/*
!/.config/xmobar/
!/.config/xmobar/xmobarrc
!/.config/stalonetray
!/.config/tellmewhen/
!/.config/tellmewhen/binds
!/.local/
!/.local/share/
!/.local/share/bspwm/
!/.local/share/bspwm/*
!/.local/share/bspwm/bspwmpython/*
!/.jsession/
!/.jsession/*
/.jsession/running
!/.bashrc
!/.bashrcd/
!/.bashrcd/*
/.bashrcd/mount-ftp
!/.conkyrc
!/.ghci
!/.gitconfig
!/.gitignore
!/.profile
!/.vimrc
!/.wallpaperd.cfg
!/.Xresources
!/.xinitrc
!/.xsessions/
!/.xsessions/*
