*
!/scripts/
!/scripts/gmrun-smart
!/scripts/irc-urxvt-remote
!/scripts/lock
!/scripts/run-game
!/scripts/run-game-real
!/scripts/temp
!/mm.cfg
!/.jsession/
!/.jsession/*
/.jsession/running
!/.bashrc
!/.conkyrc
!/.ghci
!/.gitignore
!/.gitignore_global
!/.profile
!/.startup
!/.vimrc
!/.Xdefaults
!/.xbindkeysrc
!/.xinitrc
!/.xsessions/
!/.xsessions/*
