*
!/bin/
!/bin/specific/
!/bin/specific/bspwm-panel
!/bin/specific/dftimes
!/bin/specific/discord-min
!/bin/specific/enc-trim
/bin/specific/mount-ftp
!/bin/specific/gmrun-smart
!/bin/specific/irc-urxvt-remote
!/bin/specific/lock
!/bin/specific/maintain-fullscreen
!/bin/specific/news
!/bin/specific/runpanel
!/bin/specific/temp
!/bin/specific/thunderbird-min
!/bin/specific/toggle-window
!/bin/specific/vlc
!/mm.cfg
!/.ansible.cfg
!/.config/
!/.config/bspwm/
!/.config/bspwm/*
!/.config/qutebrowser/
!/.config/qutebrowser/config.py
!/.config/sxhkd/
!/.config/sxhkd/*
!/.config/xmobar/
!/.config/xmobar/xmobarrc
!/.config/stalonetray
!/.local/
!/.local/share/
!/.local/share/bspwm/
!/.local/share/bspwm/*
!/.local/share/bspwm/bspwmpython/*
!/.jsession/
!/.jsession/*
/.jsession/running
!/.bashrc
!/.bashrcd/
!/.bashrcd/*
!/.conkyrc
!/.ghci
!/.gitconfig
!/.gitignore
!/.gitignore_global
!/.profile
!/.vimrc
!/.wallpaperd.cfg
!/.Xresources
!/.xinitrc
!/.xsessions/
!/.xsessions/*
