*multiClickTime: 200
!! urxvt
URxvt.perl-ext-common: default,selection,url-select,clipboard,keyboard-select
! colours
!URxvt.depth: 32
!URxvt.background: rgba:0000/0000/0000/cccc
URxvt.foreground: white
URxvt.background: rgb:08/08/08
! scroll rules
URxvt.scrollTtyOutput: False
URxvt.scrollWithBuffer: True
URxvt.scrollTtyKeypress: True
URxvt.saveLines: 5000
! clipboard
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
! keyboard select
URxvt.keysym.M-a: perl:keyboard-select:activate
! clickable, keyboardable URLs
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.underline: true
URxvt.url-select.button: 3
URxvt.url-select.launcher: uzbl-tabbed-open
! disable picture insert thing on ctrl-shift
URxvt.iso14755: False
! appearance
URxvt.font: xft:Monospace:pixelsize=13
URxvt.cursorUnderline: True
URxvt.scrollstyle: plain
URxvt.scrollBar_right: True
URxvt.geometry: 100x34
!URxvt.letterSpace: -1
! colours
URxvt.color0  : #2E2E34343636
URxvt.color1  : #CCCC00000000
URxvt.color2  : #4E4E9A9A0606
URxvt.color3  : #C4C4A0A00000
URxvt.color4  : #34346565A4A4
URxvt.color5  : #757550507B7B
URxvt.color6  : #060698209A9A
URxvt.color7  : #D3D3D7D7CFCF
URxvt.color8  : #555557575353
URxvt.color9  : #EFEF29292929
URxvt.color10 : #8A8AE2E23434
URxvt.color11 : #FCFCE9E94F4F
URxvt.color12 : #72729F9FCFCF
URxvt.color13 : #ADAD7F7FA8A8
URxvt.color14 : #3434E2E2E2E2
URxvt.color15 : #EEEEEEEEECEC
