*multiClickTime: 200

!! urxvt

URxvt.perl-ext-common: default,matcher,keyboard-select
! colours
URxvt.foreground: white
URxvt.background: rgb:08/08/08
! scroll rules
URxvt.scrollTtyOutput: False
URxvt.scrollWithBuffer: True
URxvt.scrollTtyKeypress: True
URxvt.saveLines: 5000
! clipboard
URxvt.keysym.C-M-c: builtin-string:
URxvt.keysym.C-M-v: builtin-string:
URxvt.keysym.M-c: eval:selection_to_clipboard
URxvt.keysym.M-v: eval:paste_clipboard
! keyboard select
URxvt.keysym.M-a: perl:keyboard-select:activate
URxvt.keyboard-select.clipboard: true
! clickable, keyboardable URLs
URxvt.keysym.M-u: matcher:select
URxvt.matcher.rend.0: Uline
URxvt.matcher.button: 3
URxvt.url-launcher: qutebrowser
! disable picture insert thing on ctrl-shift
URxvt.iso14755: False
! appearance
URxvt.font: xft:Monospace:pixelsize=13
URxvt.cursorUnderline: True
URxvt.scrollstyle: plain
URxvt.scrollBar_right: True
URxvt.geometry: 100x34
!URxvt.letterSpace: -1
! colours
URxvt.color0  : #2E2E34343636
URxvt.color1  : #CCCC00000000
URxvt.color2  : #4E4E9A9A0606
URxvt.color3  : #C4C4A0A00000
URxvt.color4  : #34346565A4A4
URxvt.color5  : #757550507B7B
URxvt.color6  : #060698209A9A
URxvt.color7  : #D3D3D7D7CFCF
URxvt.color8  : #555557575353
URxvt.color9  : #EFEF29292929
URxvt.color10 : #8A8AE2E23434
URxvt.color11 : #FCFCE9E94F4F
URxvt.color12 : #72729F9FCFCF
URxvt.color13 : #ADAD7F7FA8A8
URxvt.color14 : #3434E2E2E2E2
URxvt.color15 : #EEEEEEEEECEC
